<form>
<input type="text" name="nome" id="nome" placeholder="Nome">
<input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="CPF/CNPJ">
<input type="text" name="chave" id="chave" placeholder="Chave para Acesso">
<input type="file" name="logo" id="logo">
<button type="click">Criar</button>
</form>