<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Gerenciamento de Clientes</title>  
</head>
<body>
	<button type="button">Criar novo cliente</button>
	<button type="button">Ver clientes</button>
	<div></div>
</body>
</html>