<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Gerenciamento de Serviços</title>  
</head>
<body>
	<div>
		<ul>
			<li>
				<h2><b>Nome do projeto</b> - Nome do serviço</h2>
				<h3>31/03/2019 às 21:36</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis eget sapien id venenatis. Donec condimentum iaculis nisl ut ornare. Proin sagittis diam ligula, quis consequat eros ultricies sit amet. Ut vehicula interdum eros in aliquet. Sed ut sem lorem. Praesent gravida sit amet dui nec dignissim. </p>
				<h3>Status: Em andamento</h3>
				<h3>Responsável: Eduardo</h3>
				<button type="button">Começar</button>
				<button type="button">Mandar para aprovação</button>
			</li>
			<li>
				<h2><b>Nome do projeto</b> - Nome do serviço</h2>
				<h3>31/03/2019 às 21:36</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis eget sapien id venenatis. Donec condimentum iaculis nisl ut ornare. Proin sagittis diam ligula, quis consequat eros ultricies sit amet. Ut vehicula interdum eros in aliquet. Sed ut sem lorem. Praesent gravida sit amet dui nec dignissim. </p>
				<h3>Status: Em andamento</h3>
				<h3>Responsável: Eduardo</h3>
				<button type="button">Começar</button>
				<button type="button">Mandar para aprovação</button>
			</li>
			<li>
				<h2><b>Nome do projeto</b> - Nome do serviço</h2>
				<h3>31/03/2019 às 21:36</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis eget sapien id venenatis. Donec condimentum iaculis nisl ut ornare. Proin sagittis diam ligula, quis consequat eros ultricies sit amet. Ut vehicula interdum eros in aliquet. Sed ut sem lorem. Praesent gravida sit amet dui nec dignissim. </p>
				<h3>Status: Em andamento</h3>
				<h3>Responsável: Eduardo</h3>
				<button type="button">Começar</button>
				<button type="button">Mandar para aprovação</button>
			</li>
			<li>
				<h2><b>Nome do projeto</b> - Nome do serviço</h2>
				<h3>31/03/2019 às 21:36</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis eget sapien id venenatis. Donec condimentum iaculis nisl ut ornare. Proin sagittis diam ligula, quis consequat eros ultricies sit amet. Ut vehicula interdum eros in aliquet. Sed ut sem lorem. Praesent gravida sit amet dui nec dignissim. </p>
				<h3>Status: Em andamento</h3>
				<h3>Responsável: Eduardo</h3>
				<button type="button">Começar</button>
				<button type="button">Mandar para aprovação</button>
			</li>
			<li>
				<h2><b>Nome do projeto</b> - Nome do serviço</h2>
				<h3>31/03/2019 às 21:36</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis eget sapien id venenatis. Donec condimentum iaculis nisl ut ornare. Proin sagittis diam ligula, quis consequat eros ultricies sit amet. Ut vehicula interdum eros in aliquet. Sed ut sem lorem. Praesent gravida sit amet dui nec dignissim. </p>
				<h3>Status: Em andamento</h3>
				<h3>Responsável: Eduardo</h3>
				<button type="button">Começar</button>
				<button type="button">Mandar para aprovação</button>
			</li>
			<li>
				<h2><b>Nome do projeto</b> - Nome do serviço</h2>
				<h3>31/03/2019 às 21:36</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis eget sapien id venenatis. Donec condimentum iaculis nisl ut ornare. Proin sagittis diam ligula, quis consequat eros ultricies sit amet. Ut vehicula interdum eros in aliquet. Sed ut sem lorem. Praesent gravida sit amet dui nec dignissim. </p>
				<h3>Status: Em andamento</h3>
				<h3>Responsável: Eduardo</h3>
				<button type="button">Começar</button>
				<button type="button">Mandar para aprovação</button>
			</li>
		</ul>
	</div>
</body>
</html>