<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Painel</title>  
</head>
<body>
	<form>
		<input type="text" name="nome" id="nome" placeholder="Nome do usuário">
		<input type="text" name="email" id="email" placeholder="Email de acesso do usuário">
		<input type="text" name="senha" id="senha" placeholder="Senha de acesso do usuário">
		<select name="tipo">
			<option value="1">Desenvolvedor</option>
			<option value="2">Cliente</option>
			<option value="3">Administrador de projetos</option>
		</select>
		<select name="id_cliente">
			<option value="1">Cliente 1</option>
			<option value="2">Cliente 2</option>
			<option value="3">Cliente 3</option>
		</select>
		<button type="submit">Criar</button>
	</form>
</body>
</html>