<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Painel</title>  
</head>
<body>
	<button type="button">Criar novo usuário</button>
	<div>
		<ul>
			<li>
				<h2><b>Nome do usuário</b></h2>
				<h3>Email</h3>
				<h3>Cliente</h3>
				<h3>Tipo: Desenvolvedor/Cliente/Administrador de projetos</h3>
				<button type="button">Excluir Usuário</button>
				<button type="button">Alterar permissão</button>
				<button type="button">Aprovar usuário</button>
			</li>
			<li>
				<h2><b>Nome do usuário</b></h2>
				<h3>Email</h3>
				<h3>Cliente</h3>
				<h3>Tipo: Desenvolvedor/Cliente/Administrador de projetos</h3>
				<button type="button">Excluir Usuário</button>
				<button type="button">Alterar permissão</button>
				<button type="button">Aprovar usuário</button>
			</li>
			<li>
				<h2><b>Nome do usuário</b></h2>
				<h3>Email</h3>
				<h3>Cliente</h3>
				<h3>Tipo: Desenvolvedor/Cliente/Administrador de projetos</h3>
				<button type="button">Excluir Usuário</button>
				<button type="button">Alterar permissão</button>
				<button type="button">Aprovar usuário</button>
			</li>
			<li>
				<h2><b>Nome do usuário</b></h2>
				<h3>Email</h3>
				<h3>Cliente</h3>
				<h3>Tipo: Desenvolvedor/Cliente/Administrador de projetos</h3>
				<button type="button">Excluir Usuário</button>
				<button type="button">Alterar permissão</button>
				<button type="button">Aprovar usuário</button>
			</li>
		</ul>
	</div>
</body>
</html>