<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Painel</title>  
</head>
<body>
	<h1>Bem vindo <%= nome %>!</h1>
	<button type="button"><a href="servicos">Gerenciar Serviços</a></button>
</body>
</html>